.section {

  &__buy {
    background: #130645;
    padding-top: 105px;

    @media (max-width: $breakpoint768) {
      padding-top: 18px;
    }
  }
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    @media (max-width: $breakpoint768) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__subtitle {
    margin-top: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    @media (max-width: $breakpoint768) {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__elements {
    display: flex;
    gap: 77px;
    width: 100%;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap:0;
    }
  }

  &__item {
    margin-top: 54px;
    background: linear-gradient(rgba(64, 36, 178, 1), rgba(65, 37, 181, 0));
    padding: 3px;
    border-radius: 16px;
    width: 100%;

    &-container {
      padding-top: 32px;
      padding-bottom: 45px;
      background: #130645;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;

      @media (max-width: $breakpoint768) {

      }
    }

    &-text {
      margin-top: 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.7);
    }

    &-btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      margin-top: 32px;
      min-width: 40%;
      color: white;
      border-radius: 12px;
      padding: 12px 0;
      background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
    }

  }

}



