.section {

  &__intouch {
    background: #130645;
    padding-bottom: 50px;

  }
}

.container {


  .coin {
    &__img {
      position: relative;
      z-index: 0;
      overflow: hidden !important;

      @media (max-width: $breakpoint768) {
        display: none;
      }

      &-1 {
        max-width: 210px;
        max-height: 210px;
        top: 200px;
        left: 80%;
      }

      &-2 {
        max-width: 150px;
        max-height: 150px;
        top: 450px;
        left: 0;

        @media (max-width: $breakpoint992) {
          display: none;
        }
      }

      &-3 {
        max-height: 120px;
        top: 500px;
        right: 450px;
      }

      &-4 {
        max-height: 120px;
        top: 820px;
        right: 400px;
      }

      &-5 {
        max-height: 140px;
        left: 30%;
        top: 750px;

        @media (max-width: $breakpoint992) {
          display: none;
        }
      }

    }
  }
}


.intouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;

  &-heart {
    max-width: 386px;
    max-height: 386px;
  }

  &__social {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 100%;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap: 10px;
      margin-top: 25px;
    }

    &-item {
      border-radius: 12px;
      padding: 12px 12px;
      border: 3px solid #4125B6;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 150px;
      gap: 13px;

      a {
        color: white;
      }

      img {
        max-width: 14.79px;
        max-height: 13.82px;
        display: block;
      }
    }
  }

  &__icons {
    padding-top: 80px;
    display: flex;
    gap: 32px;
    cursor: pointer;

    @media (max-width: $breakpoint480) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding-top: 30px;
    }

    img {
      height: 56px;
      width: 56px;
    }

  }
}
