.section {
  &__main {
    background: linear-gradient(90deg, #130645 0%,
            rgba(19, 6, 69, 0) 86.01%), url("../img/main_background.png") no-repeat;
    background-size: 100% 100% !important;
    padding-top: 95px;
    padding-bottom: 240px;

    @media (max-width: $breakpoint768) {
      background: linear-gradient(180deg, #130645 0%,
              rgba(19, 6, 69, 0) 86.01%), url("../img/main_background.png") no-repeat;
      padding-top: 47px;
      padding-bottom: 120px;
    }


    @media (max-width: $breakpoint480) {
      background: linear-gradient(180deg, #130645 0%,
              rgba(19, 6, 69, 0) 86.01%), url("../img/main_background.png") no-repeat;
      padding-top: 23px;
      padding-bottom: 60px;
    }
  }
}

.main {
  padding-left: 12%;

  @media (max-width: $breakpoint768) {
    padding-left: 0;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    background-image: linear-gradient(45deg, rgba(88, 245, 242, 1) 10%, rgba(95, 57, 255, 1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: $breakpoint992) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
    }

  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
    color: white;

    @media (max-width: $breakpoint992) {
      font-size: 12px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 10px;
    }
  }

  &__controls {
    margin-top: 54px;
    display: flex;
    gap: 16px;
    align-items: center;

    @media (max-width: $breakpoint480) {
      flex-direction: column;
      margin-top: 25px;
    }

    a {
      color: white;
      border-radius: 12px;
      padding: 12px 36px;
    }

    &-account {
      background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
      border: 3px solid #4125B6
    }

    &-market {
      background: rgba(64, 36, 178, 0.3);
      border: 3px solid #4125B6
    }

  }
}

