.section {
  //background: linear-gradient(90deg, #130645 0%, rgba(19, 6, 69, 0) 86.01%);
  // .section__main
  &__main {
    //margin-left: 164px;
    //background: linear-gradient(90deg, #130645 0%, rgba(19, 6, 69, 0) 86.01%);
    background: url("../img/main_background.png") no-repeat center center fixed;
    padding-top: 95px;
    padding-bottom: 240px;
  }
}

.container {

}

.main {
  // .main__title
  &__title {

  }

  &__subtitle {

  }

  &__controls {
    display: flex;

  }
}

