.section {

  &__slider {
    background: #130645;
    padding-top: 156px;
    padding-bottom: 134px;

    @media (max-width: $breakpoint768) {
      padding-top: 78px;
      padding-bottom: 67px;
    }

    @media (max-width: $breakpoint480) {
      padding-top: 39px;
      padding-bottom: 33px;
    }
  }
}

.slider {

  &__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .swiper {
      width: 75%;
      margin: 0;

      &-wrapper {
        display: flex;
        width: 100%;
      }

      &-slide {
        border: 2px solid #FFFFFF7F;
        //width: 100%;
        height: 144px;
        border-radius: 16px;

        background: linear-gradient(to top left,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) calc(50% - 0.8px),
                rgba(255, 255, 255, 0.5) 50%,
                rgba(0, 0, 0, 0) calc(50% + 0.8px),
                rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0) calc(50% - 0.8px),
                        rgba(255, 255, 255, 0.5) 50%,
                        rgba(0, 0, 0, 0) calc(50% + 0.8px),
                        rgba(0, 0, 0, 0) 100%);
      }

    }

    .swiper-next {
      transform: rotate(90deg);
    }

    .swiper-prev {
      transform: rotate(-90deg);
    }


    .swiper-next, .swiper-prev {
      border-radius: 32px;
      border: 2px solid #4024B2;

      svg {
        padding: 12px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__bottom {
    display: flex;
    gap: 16px;

    &-text {
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      line-height: 24px;
    }

    &-link {
      color: white;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
    }

    &-link:hover {
      cursor: pointer;
    }

  }
}



